/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .banner-container {
    padding: 52px 50px 0px 52px;
  }
  .tutorial-videos {
    bottom: 63px;
    left: 50px;
    top: 271px;
    width: 206px;
    height: 96px;
  }

  .free-videos {
    top: 100px;
    width: 156px;
    right: -20px;
    border-radius: 9.07px;
  }


  /* run easily styles start  */

.run-easily {
  padding-bottom: 66px;
}
.section-title{
  font-size: 2rem;
}

.run-easily-container {
  margin: 0px 50px 50px 50px;
  gap: 31px;
}
.run-easily-text-box,.run-easily-image-box {
  width: 100%;
}
.run-easily-container {
  padding: 31px 33px;
}


.bmi-heading-box {
  padding: 0px 20px 40px 20px;

}
  .bmi-calculator-container {
    display: flex;
    padding: 0px 50px 50px 50px;

  }

    /* our team styles  */
    .our-teams{
      padding: 40px 50px;
    }
    .our-teams-container {
  
      grid-template-columns: repeat(3, 2fr);
  
    }
  

      /* footer style start  */
  .footer {

    grid-template-columns:  1fr;
    padding: 30px 0px;
    width: calc(100% - 100px);
    gap: 40px;
  }
  .link-box {
    display: flex;
    flex-direction: row;
    gap: 150px;
 
}
.link-box p{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  padding-top: 20px;
}
  /* footer style end  */

}
