@media (max-width: 576px) {
  .banner-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .navbar-container {
    padding: 52px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu {
    display: block;
    display: flex;
    align-items: center;
    color: var(--primary-text);
  }
  nav ul {
    display: none;
  }
  .banner-title {
    font-size: 2.25rem;
    padding-right: 67px;
  }
  .banner-image-box img {
    width: 100%;
    height: 580px;
    padding: 0px;
  }

  .banner-container {
    padding: 0px;
  }
  .banner-text-box,
  .banner-image-box {
    width: calc(100% - 20px);
  }
  .banner-text-box {
    margin-bottom: 20px;
  }
  .primary-btn,
  .secondary-btn {
    font-size: 1rem;
    padding: 15px;
  }

  .free-videos > h1,
  .tutorial-text-box > h1 {
    font-size: 30.24px;
    font-weight: 900;
    line-height: 30.24px;
    letter-spacing: 0.76px;
  }
  .tutorial-text-box > p,
  .free-videos > p {
    font-size: 0.563rem;
    font-weight: 400;
    line-height: 15.12px;
    letter-spacing: 0.76px;
  }

  .tutorial-text-box > h1{
    font-size: 1.125rem;
  }
  .circle{
    width: 30px;
    height: 30px;
  }
  .tutorial-videos {
    position: absolute;
    bottom: 63px;
    left: 0px;
    width: 155.74px;
    height: 72.58px;
  }

  .free-videos {
    width: 145.91px;
    padding: 18px;
    height: 74px;
    top: 47px;
    right: 12px;
    border-radius: 9.07px;
  }
}
