@media (max-width: 992px) {
  .navbar-container,
  nav > ul {
    display: flex;
    flex-direction: row;
  }
  .navbar-container {
    display: flex;
    flex-direction: row;
    padding: 52px 30px;
  }

  .banner-container {
    padding: 52px 0px 0px 0px;
    display: flex;
    flex-direction: column;
  }
  .banner-text-box,
  .banner-image-box {
    width: calc(100% - 72px);
  }

  .tutorial-videos {
    bottom: 63px;
    left: 0px;
    top: 271px;
    width: 206px;
    height: 96px;
  }

  .free-videos {
    top: 47px;
    right: 12px;
    border-radius: 9.07px;
  }
  /* habits styles  */

  .habits-section-heading-box{
    padding: 10px 20px;
  }
  .habits-container {
    grid-template-columns:  repeat(2, 1fr);
    padding: 50px;
  }

/* run easily styles start  */

.run-easily {
  padding-bottom: 66px;
}
.section-title{
  font-size: 2rem;
}
.run-easily-container {
  display: flex;
  border-radius: 18px;
  padding: 30px 32px 29px 54px;
}

.run-easily-container {
  margin: 0px 20px 20px 20px;
  gap: 31px;
}
.run-easily-text-box,.run-easily-image-box {
  width: 100%;
}
.run-easily-container {
  padding: 31px 33px;
}


.bmi-heading-box {
  padding: 0px 20px 40px 20px;

}
  .bmi-calculator-container {
    display: flex;
    padding: 0px 20px 50px 20px;
    flex-direction: column;
  }


}
